@import "tailwindcss";

:root {
  --background: linear-gradient(
    90deg,
    hsla(46, 73%, 75%, 1) 0%,
    hsla(176, 73%, 88%, 1) 100%
  );
  --foreground: #ffffff;
  --font-comicneue: "Comic Neue", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-comicneue: var(--font-comicneue);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #bf360c;
    --foreground: #ffffff;
  }
}

.active {
  @apply border-2 bg-black border-white border-b-[10px] text-amber-300 px-5 py-2 rounded-xl;
}



html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  background-size: cover;
  color: var(--foreground);
  font-family: var(--font-comicneue);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/image/bg-pattern.svg");
  z-index: -1;
  opacity: 0.35;
}
