@import "tailwindcss";

:root {
  --background: linear-gradient(
    90deg,
    hsla(46, 73%, 75%, 1) 0%,
    hsla(176, 73%, 88%, 1) 100%
  );
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bitcount: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #BF360C;
    --foreground:#000;
  }
}

.active {
  @apply border-2 bg-black border-white border-b-[10px] text-amber-300 px-5 py-2 rounded-xl;
}

body {
  background: var(--background);
  background-size: cover;
  color: var(--foreground);
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/image/bg-pattern.svg');
  z-index: -1;
  opacity: 0.35;
}